<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
            src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>
    <link href="webAppStyle.css" rel="stylesheet" />
    <title> SOFT352 - A JavaScript learning web application</title>
</head>
<body>
    <div ng-app = "indexApp">

</div>
    <div ng-view></div>
    <nav class="{{active}}" ng-click="$event.preventDefault()">
git
    <!-- When a link in the menu is clicked, we set the active variable which is then used later on -->

    <a href="#BasicJS" class="BasicJS" ng-click="active='BasicJS'">Basic JavaScript</a>
    <a href="#IntermediateJS" class="IntermediateJS" ng-click="active='IntermediateJS'">Intermediate JavaScript</a>
    <a href="#AdvancedJS" class="AdvancedJS" ng-click="active='AdvancedJS'">Advanced JavaScript</a>
    <a href="#Profile" class="Profile" ng-click="active='Profile">Personal Profile</a>
    </nav>

    <script>
        var indexApp = angular.module("indexApp", ['ngRoute']);
        indexApp.config(['$routeProvider', function($routeProvider){
            $routeProvider

                .when("/BasicJS", {
                    templateUrl: 'BasicJS.html',
                    controller: 'BasicController'})
                .when("/", {
                    templateUrl: 'IntermediateJS.html',
                    controller: 'BasicController'})
                .when("/BasicJS", {
                    templateUrl: 'Advanced.html',
                    controller: 'BasicController'})
                .when("/BasicJS", {
                    templateUrl: 'Profile.html',
                    controller: 'BasicController'})
        }]);
    </script>

</body>

</html>