<nav>
    <a class="BasicJS" href="Basic">Basic JavaScript</a>
    <a class="IntermediateJS" href="Intermediate">Intermediate JavaScript</a>
    <a class="AdvancedJS" href="Advanced">Advanced JavaScript</a>
    <a class="ProfileJS" href="Profile">Profile</a>
    <a class="BasicJS" href="Index">Sign Out</a>
</nav>

<h1>{{header}}</h1>
<button class="button" id="IntermediateBtn" type="button">Get Quiz</button>