<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/webAppStyle.css">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="javascripts/quizButton.js")></script>
    <script src="javascripts/profileButtons.js"></script>
    <title> SOFT352 - A JavaScript learning web application</title>
</head>

<body>

    {{{body}}}
</body>

</html>