<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/webAppStyle.css">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="javascripts/quizButton.js")></script>
    <script src="javascripts/profileButtons.js"></script>
    <title> SOFT352 - A JavaScript learning web application</title>
</head>

<body>

<nav>
    <a class="BasicJS" href="Basic">Basic JavaScript</a>
    <a class="IntermediateJS" href="Intermediate">Intermediate JavaScript</a>
    <a class="AdvancedJS" href="Advanced">Advanced JavaScript</a>
    <a class="ProfileJS" href="Profile">Profile</a>
    <a class="BasicJS" href="Index">Sign Out</a>
</nav>

<h1>Welcome to the Intermediate Section of the JavaScript learning app</h1>
<a href="http://localhost:8080/IntermediateQuiz" class="BasicJS" id="IntermediateBtn">Get Quiz</a>
</body>

</html>